body {
    background-color: #d4e7e9;
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 8px;
}
    
.div1 {
    grid-column: span 3 / span 3;
}

.div2 {
    grid-column: span 3 / span 3;
    grid-row-start: 2;
    background-color: #ed001a;
    padding: 30px;
}

.div3 {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-row-start: 3;
}

.div4 {
    grid-row-start: 5;
    background-color:azure;
}

.div5 {
    grid-row-start: 5;
     background-color:azure;
}

.div6 {
    grid-row-start: 5;
     background-color:azure;
}

.div7 {
    grid-column: span 3 / span 3;
    grid-row-start: 6;
}

a {
    color:#d4e7e9;
}